*{
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: orange;
    height: 100px;
}

body{
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    align-items: center;
}
footer{
    align-items:self-end;
}